<template>
<div class="row">
    <div class="col-lg-12">
        <div class="create-post">
            <form class="create-post-form">
                <textarea class="form-control" rows="4" placeholder="Write your post..."></textarea>
            </form>
            <div class="d-flex justify-content-between align-items-center p-3">
                <div class="mr-auto">
                    <a class="add-img pr-2" href="#"><i class="fa fa-photo"></i></a>
                    <a class="add-face pr-2" href="#"><i class="fa fa-smile-o"></i></a>
                </div>
                <div class="ml-auto">
                    <input type="submit" class="btn btn-primary btn-rounded border-0 btn-fw btn-gred" value="POST NOW" />
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
