<!--footer-->
<footer class="container-fluid footer">
    <div class="row pb-5 text-white footer-top">
        <div class=" mx-auto">
            <div class="row">
                <div class="col-md-12">
                    <div class="row contact-details">
                        <div class="col-12 text-center mb-3">
                            <h4>CONTACT US</h4>
                        </div>
                        <div class="col-12 text-center mb-3">
                            <span class="font-weight-normal">If you have a question, we have an answer. If you need something, we'll help you. Contact us anytime.</span>
                        </div>
                        <div class="col-12 text-center mb-3">
                            <button type="button" class="btn btn-primary btn-rounded border-0 btn-lg btn-gred">SEND MESSAGE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-4 footer-middle">
        <div class="mx-auto text-center">
            <div class="container-fluid clearfix">
                <ul class="nav my-0">
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Help center</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Jobs</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Privacy policy</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Ads info</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row p-3 footer-bottom">
        <div class="container mx-auto">
            <div class="clearfix">
                <div class="p-3 d-block text-center text-sm-left d-sm-inline-block">
                    © 2018 <a href="#">Reayl</a> - All rights reserved.
                </div>
                <div class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    <ul class="nav m-0 social d-sm-inline-flex d-xs-inline-flex">
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->