<!-- partial:navbar -->
<nav class="navbar container-fluid col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-menu-wrapper d-flex align-items-center container">
        <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo.png" alt="logo"/></a>
        <ul class="navbar-nav navbar-nav-left">
            <li class="nav-item dropdown d-none d-lg-flex main-menu-item active">
                <a class="nav-link" href="#">
                          Offers
                        </a>
            </li>
            <li class="nav-item dropdown d-none d-lg-flex main-menu-item">
                <a class="nav-link" href="#">
                          Companies
                        </a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right ml-auto mr-xs-2">
            <li class="nav-item dropdown d-none d-lg-flex">
                <a class="nav-link dropdown-toggle" id="languageDropdown" href="#" data-toggle="dropdown">
                          <i class="fa fa-globe"></i>
                          Language
                        </a>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
                    <a class="dropdown-item font-weight-medium" href="#">
                                <i class="flag-icon flag-icon-gb"></i>
                                English
                              </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-medium" href="#">
                                <i class="flag-icon flag-icon-sa"></i>
                                Arabic
                              </a>
                </div>
            </li>
            <li class="nav-item dropdown mx-xs-0">
                <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-comments"></i>
                        </a>
            </li>
            <li class="nav-item dropdown mx-xs-0">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                          <i class="fa fa-bell"></i>
                          <span class="count"></span>
                        </a>
            </li>
            <li class="nav-item dropdown d-none d-lg-flex">
                <a class="nav-link dropdown-toggle" id="AccountDropdown" href="#" data-toggle="dropdown">
                    <!--                          <img class="img-sm rounded-circle" src="images/faces/face1.jpg" alt="">-->
                    <span class="span-sm rounded-circle mr-1">M</span> Mohamed
                </a>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
                    <a class="dropdown-item font-weight-medium" href="#">
                                <i class="fa fa-cog"></i>
                                Edit profile
                              </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-medium" href="#">
                                <i class="fa fa-sign-out"></i>
                                Sign out
                              </a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center px-xs-0" type="button" data-toggle="offcanvas">
                  <span class="icon-menu"></span>
                </button>
    </div>
</nav>
<!-- partial -->