<!-- Right Sidebar -->
<div class="right-sidebar col-lg-3 col-md-12 col-sm-12 pl-4">
    <!-- wedget -->
    <div class="wedget">
        <h5 class="mb-2">TOP TAGS</h5>
        <div class="tags">
            <a class="badge badge-primary badge-pill tag-item" href="#">UI/UX Design</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">Food</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">Graphic</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">Graphic Design</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">Brands</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">UI/UX Design</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">Food</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">Graphic</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">Graphic Design</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">Brands</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">UI/UX Design</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">Food</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">Design</a>
            <a class="badge badge-primary badge-pill tag-item" href="#">Brands</a>
            <button type="button" class="btn btn-primary btn-rounded btn-xs btn-more">More +</button>
        </div>
    </div>
    <!-- /wedget -->
    <hr class="p-2">
    <!-- wedget -->
    <div class="wedget">
        <div class="row">
            <h5 class="mb-2 col">JOBS LIST</h5>
            <div class="dropdown show">
                <a class="text-right col dropdown-toggle" href="#" id="dropdown_List" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdown_List" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -183px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <h6 class="dropdown-header">Settings</h6>
                    <a class="dropdown-item" href="#">Action</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col jobs-list ml-2">
                <!-- jobs list item -->
                <div class="list d-flex align-items-center pl-2 pt-3">
                    <img class="img-sm rounded-circle border" src="images/Brands/dove.gif" alt="">
                    <div class="wrapper w-100 ml-3">
                        <a href="#" class="d-block mb-0"><b>New Approaches to Swarm...</b></a>
                        <small class="text-muted">Giza Company</small>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <p class="mb-0">Front End Developer</p>
                            </div>
                            <small class="text-muted ml-auto">30-60 USD</small>
                        </div>
                    </div>
                </div>
                <!-- /jobs list item -->
                <!-- jobs list item -->
                <div class="list d-flex align-items-center pl-2 pt-3">
                    <img class="img-sm rounded-circle border" src="images/Brands/amazon.jpg" alt="">
                    <div class="wrapper w-100 ml-3">
                        <a href="#" class="d-block mb-0"><b>Helping people finding the best...</b></a>
                        <small class="text-muted">Mobarak Company</small>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <p class="mb-0">UI & UX Designer</p>
                            </div>
                            <small class="text-muted ml-auto">30-60 USD</small>
                        </div>
                    </div>
                </div>
                <!-- /jobs list item -->
                <!-- jobs list item -->
                <div class="list d-flex align-items-center pl-2 pt-3">
                    <img class="img-sm rounded-circle border" src="images/Brands/dove.gif" alt="">
                    <div class="wrapper w-100 ml-3">
                        <a href="#" class="d-block mb-0"><b>New Approaches to Swarm...</b></a>
                        <small class="text-muted">Giza Company</small>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <p class="mb-0">Front End Developer</p>
                            </div>
                            <small class="text-muted ml-auto">30-60 USD</small>
                        </div>
                    </div>
                </div>
                <!-- /jobs list item -->
            </div>
        </div>
    </div>
    <!-- /wedget -->
    <hr class="p-2">
    <!-- wedget -->
    <div class="wedget">
        <div class="row">
            <h5 class="mb-2 col">PEOPLE YOU MAY KNOW</h5>
            <div class="dropdown show">
                <a class="text-right col dropdown-toggle" href="#" id="dropdown_List" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdown_List" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -183px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <h6 class="dropdown-header">Settings</h6>
                    <a class="dropdown-item" href="#">Action</a>
                </div>
            </div>
        </div>
        <div class="row people-list m-2">
            <!-- people list item -->
            <div class="people-item m-1">
                <a href="#">
                    <img src="images/faces/face1.jpg" alt="image" class="img-sm rounded-circle">
                </a>
            </div>
            <!-- /people list item -->
            <!-- people list item -->
            <div class="people-item m-1">
                <a href="#"><img src="images/faces/face1.jpg" alt="image" class="img-sm rounded-circle"></a>
            </div>
            <!-- /people list item -->
            <!-- people list item -->
            <div class="people-item m-1">
                <a href="#"><img src="images/faces/face1.jpg" alt="image" class="img-sm rounded-circle"></a>
            </div>
            <!-- /people list item -->
            <!-- people list item -->
            <div class="people-item m-1">
                <a href="#"><img src="images/faces/face1.jpg" alt="image" class="img-sm rounded-circle"></a>
            </div>
            <!-- /people list item -->
            <!-- people list item -->
            <div class="people-item m-1">
                <a href="#"><img src="images/faces/face1.jpg" alt="image" class="img-sm rounded-circle"></a>
            </div>
            <!-- /people list item -->
            <!-- people list item -->
            <div class="people-item m-1">
                <a href="#"><img src="images/faces/face1.jpg" alt="image" class="img-sm rounded-circle"></a>
            </div>
            <!-- /people list item -->
            <!-- people list item -->
            <div class="people-item m-1">
                <a href="#"><img src="images/faces/face1.jpg" alt="image" class="img-sm rounded-circle"></a>
            </div>
            <!-- /people list item -->
            <button type="button" class="btn btn-primary btn-rounded btn-xs btn-more-circle">More +</button>
        </div>
    </div>
    <!-- /wedget -->
</div>
<!-- /Right Sidebar -->